* {
    margin: 0px;
    padding: 0px;
}
/* Body Styles */
body {
    background-color: rgb(67, 74, 136);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#bait_page {
    background-image: url(images/lures.webp);
}

#Home {
    color: white;
}

section {
    width: 80%;
    height: 800px;
    background-color: rgb(255, 255, 255, 0.7);
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 25px;
}

#sec1 {
    width: 80%;
    height: 300px;
    background-color: rgb(255, 255, 255, 0.7);
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.spool {
    background-image: url(images/reels.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    display: block;
    width: 30%;
    background-color:rgb(255, 255, 255, 0.7) ;
}

#welcome {
    display: block;
    float: left;
    width: 30%;
    height: 100px;
}
#con1 {
    display: block;
    float: left;
    text-align: center;
    background-color: grey;
    width: 30%;
    font-size: 20px;
    padding: 25px;
    margin: 25px;
}

#con2 {
    display: block;
    float:right;
    text-align: center;
    background-color: lightskyblue;
    padding: 25px;
    margin: 25px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}
th {
    text-align: center;
    font-size: 32px;
    padding-top: 25px;
    padding-bottom: 5px;
    text-decoration: underline;
}

.title {
    text-align: center;
    width: 80%;
    padding-left: 175px;
}

h1 {
    font-size: 56px;
    text-align: center;
    padding-top: 25px;
    font-variant: small-caps;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cold_bait {
    float: right;
    width: 40%;
    display: block;
}

.live_bait {
    margin-left: 100px;
    width: 40%;
    float: left;
    display: block;
}

.live_fish {
    width: 50%;
    display: inline;
    padding-left: 400px;
}

#price {
    margin-left: 0px;
    font-style: italic;
}

td {
    padding-right: 45px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav styles */
nav {
    margin-bottom: 50px;
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: black;
    background-color: rgba(117, 168, 221, 0.797);
    padding: 5px;
}

a:hover {
    color: white;
}

a:active {
    color: darkred;
}

/* footer styles */

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
}

